body{
  background-color:gray;
}
.App {
  text-align: center;
  
}

#head{
  background-color: black;
  color: wheat;
  font-size: 50px;
}
.headBar{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
}
.ship{
  border-style: groove;
  border-radius: 10px;
  width: 20%;
  background-color: olive;
  padding: 30px;
  font-size: 28px;
  font-family:fantasy;
  color: wheat;
}
.shipBox{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.planet{
  border-style: groove;
  border-radius: 10px;
  width: 20%;
  background-color: blue;
  padding: 30px;
  font-size: 28px;
  font-family:fantasy;
  color: wheat;
}
.plan{
  padding-left: 20px;
  padding-right: 20px;
}
.planetBox{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.veh{
  padding-left: 20px;
}
.vehicle{
  border-style: groove;
  border-radius: 10px;
  width: 20%;
  background-color: red;
  padding: 30px;
  font-size: 28px;
  font-family:fantasy;
  color: wheat;
}
.vehicleBox{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}